<div class="card"  style="width: 18rem;">
    <img src="{{ product.image | img }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.title|uppercase}}</h5>
      <p class="card-text">{{product.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" [ngStyle]="{'background':product.price ==0 ? 'red' : 'green'}">price : {{product.price | prix}}</li>
      <li class="list-group-item">compagny : {{product.company}}</li>
    </ul>
    <div class="card-body">
      <a (click)="afficheProd()" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
    <div class="card-body">
      <i *ngIf="!isliked" (click)="fav()" class="fa-regular fa-heart"></i>
      <i *ngIf="isliked" (click)="fav()" class="fa-solid fa-heart"></i>
    </div>
    <div class="card-body">
      <input [(ngModel)]="this.nbLike" type="number" name="a">   
      <button  (click)='this.nbLike = this.nbLike + 1'> like</button>
      <button  (click)='this.nbLike = this.nbLike - 1'> unlike </button>
      <p> {{this.nbLike}} </p>
    </div>
  </div>
  
